$couleurs: (
    "couleur--principale": #22371B,
    "couleur--secondaire": #6EAE3E,
    "couleur--alternative": #5999D3,
    "couleur--beige":#ECEAE5,
    "couleur--blanc": white,
    "couleur--noir": black,
    "couleur--gris": #444,
    "couleur--gris-clair": #f0f1f2,
);


//résolution écrans
$very-small: 360px;
$small: 494px;
$phone: 768px;
$tablet: 981px;
$medium: 1180px;
$laptop: 1366px;
$large: 1444px;
$very-large: 1920px;